
@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.ttf') format('woff'),
        url('Inter-Bold.woff') format('woff2');
    font-weight: 700;
   }
@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.ttf') format('woff'),
        url('Inter-Medium.woff') format('woff2');
    font-weight: 500;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.ttf') format('woff'),
    url('Montserrat-Bold.woff') format('woff2');
    font-weight: 700;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.ttf') format('woff'),
        url('Montserrat-SemiBold.woff') format('woff2');
    font-weight: 600;
   }
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.ttf') format('woff'),
        url('Montserrat-Medium.woff') format('woff2');
    font-weight: 500;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('woff'),
        url('Montserrat-Regular.woff') format('woff2');
    font-weight: 400;
 }

