/**
  |============================
  | Colors
  |============================
*/
$black-color: #000000;
$black-color-30: rgba(0, 0, 0, 0.3);
$black-color-40: rgba(0, 0, 0, 0.4);
$black-color-60: rgba(0, 0, 0, 0.6);
$white-color: #ffffff;
$dark-color: #0E0E0E;
$main-btn-color: #E86F54;
$main-btn-color-40: rgba(232, 111, 84, 0.4);
$hover-btn-color: #E25B41;
$focus-btn-color: #FA6F54;
$focus-btn-color-20: rgba(250, 111, 84, 0.2);
$main-grey-color: #5C5C5C;
$secondary-gray-color: #D7D7D7;

/**
  |============================
  | Others
  |============================
*/

$phone: 320px;
$phone-wide: 480px;
$pre-tablet: 767.98px;
$tablet: 768px;
$pre-desktop: 1279.98px;
$desktop: 1280px;

$time-dur: 250ms;
$time-func: cubic-bezier(0.4, 0, 0.2, 1);

// Font Family

$inter: 'Inter';
$montserrat: 'Montserrat';